<div class="container main">
    <div class="col-sm-3"></div>
      <div class="main-div col-sm-6">
        <h2 class="text-color">Reset Your Password</h2> 
        <hr style="border: 1px solid #d2c527;margin-bottom:0px;">
        <div class="help-div">
    Let us help you
    
        </div>
        <div class="font-style">
        Please enter your new password and re-enter in the confirm password to complete
      the reset password process:
       </div>
    
       <div>
      <form action="#" class="col-sm-6 padding-left">
        <div class="form-group">
          <label for="pass1">Create New Password</label>
          <input type="password" class="form-control placeholder-padding" id="pas1" placeholder="New Password"/>
        </div>
        <div class="form-group">
            <label for="pass2">Confirm Password</label>
            <input type="password" class="form-control placeholder-padding" id="pas2" placeholder="Confirm Password"/>
          </div>
         
        <button type="submit" class="btn btn-warning" style="color:black;margin-top: 10px;">Reset Password</button>
      </form>
      
       </div>
    
      </div>
    
    
    </div>