target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.log
**/logfiles
**/logs

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/logfiles
**/logs

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
**/logfiles
**/logs
