
<div class="col-sm-12" id="banner">
	
	<div id="background"><div class="banner-image"></div></div>
	
	<section class="dark center">
	<div class="header ">
	
	
            <form action="" (ngSubmit)="submitLogin()" #loginForm="ngForm" method="post" name="Login_Form" class="form-signin">       
                    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
                      <hr class="colorgraph"><br>
                      
       <input [(ngModel)]="formData.email" #username="ngModel" type="email" required
                        name="em" placeholder="Email" minlength="10" [ngClass]="{'error':username.errors && username.touched}" class="form-control" id="inputEmail3" required="" autofocus="">
                       
                        <div *ngIf="username.errors && username.touched" class="red error">
                              <div *ngIf="username.errors.required">This is required field.</div>
                              <div *ngIf="username.errors.minlength">minimum 10 required</div>
                              </div>
  
                      
                            

                      <input [(ngModel)]="formData.password" #pwd="ngModel" name="pwd" minlength="10" 
                      [ngClass]="{'errors':pwd.errors && pwd.touched}" class="form-control" type="password" placeholder="Password" required="">     		  
           
                      <div *ngIf="pwd.errors && pwd.touched" class="red error">
                            <div *ngIf="pwd.errors.required">This is required field.</div>
                            <div *ngIf="pwd.errors.minlength">minimum 10 required</div>
                            </div>
                            
                      <br>
                      <div class="form-group">
                          <div class="col-sm-6" style="padding-left:0px;">
                            <div class="checkbox" style="margin-top: 0px;">
                              <label>
                                <input type="checkbox"> Remember me
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-6" style="text-align:right;">
                        
                                  <label>
                                <a style="cursor: pointer;color:#a74242;text-decoration: none;"> Forget Password?</a>
                                  </label>
                              </div>
                       
                            </div>
                      

                      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>  			
                      <div class="col-sm-12 margin-top form-group">
                                                    <label>
                           Not a member? <a routerLink="/signup" style="color:blue;cursor: pointer;">Sign Up</a> here
                            </label>
                        </div>
                    </form>
            
            </div>
	
	</section>
	
	</div>

