<div class="login">
    
    <div class="login-form ">
        <form action="" (ngSubmit)="submitLogin()" #loginForm="ngForm" method="post" name="Login_Form">
            <h1>Log In</h1>
              
                  <br> <br> 

              
              <input [(ngModel)]="formData.email" #email="ngModel" type="email" name="em" placeholder="Email" minlength="10" [ngClass]="{'error':email.errors && email.touched}" required="" autofocus=""> 
  
              <div *ngIf="email.errors && email.touched" class="red error"> 
          
                  <div *ngIf="email.errors.required" class="for_error">This is required field.</div> 
          
                  <div *ngIf="email.errors.minlength" class="for_error">Minimum 10 Cheracter required</div> 
          
              </div> 
              <br> <br> 


  <input [(ngModel)]="formData.password" #pwd="ngModel" name="pwd" minlength="10" maxlength="32" [ngClass]="{'errors':pwd.errors && pwd.touched}"  type="password" placeholder="Password" required=""> 
      <div *ngIf="pwd.errors && pwd.touched" class="red error"> 
        <div *ngIf="pwd.errors.required" class="for_error">This is required field.</div> 
        <div *ngIf="pwd.errors.minlength" class="for_error">Minimum 10 required</div>
        <div *ngIf="pwd.errors.maxlength" class="for_error">Maximum 32 required</div> 
      </div> <br> <br> 

      <button type="submit" 
        [disabled]="loginForm.invalid" 
          class="all_button" name="loginForm" value="Log In">Log In</button> 

    </form>     
</div>                  
</div>



 

