/* MENU-LEFT
-------------------------- */
/* layout */

 /*manu bar */


 .navbar-new {
    color: #eceeef !important;
    background-color: #fff !important;
    box-shadow: 10px 10px 5px #ddd !important;
    text-align: center;
    border: 0px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #969292 !important;
    background-color: transparent;
}
.logo-padding{
    padding: 6px 15px;
    }
    .pull-right {
        float: right;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .pull-left {
        float: left;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .abc
    {
        width:115%;
    }
    .broadcasts-table {
        padding: 0;
        margin: 0;
        margin: -1px -1px -1px -1px;
    }
    .table.table-bordered {
        font-size: 0.9em;
    }
    .table-light table {
        border-top-color: #dbdbdb!important;
    }  
    table.bordered, table.table {
        border-color: #e2e2e2;
    }
    .table {
        margin-bottom: 18px;
        width: 100%;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    body {
        background: #fff;
        color: #555;
    }
    clearfix:after {
        clear: both;
    }
    .clearfix:before, .clearfix:after {
        content: "";
        display: table;
    }
    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    ::selection {
        background: #0cc19c;
        color: #333;
    }

    .show-menu{
        display: block !important;
    }