<div>
    
    <br /><br />
    <div class="form">
            
        <form>
            
        <h1 style="font-size: 30px;">Log In</h1><br /><br />
              <p>Email Id</p>
              <input type="email" name="email" placeholder="abc@example.com" />
              <br /><br />
              <p>Password</p>
              <input type="password" name="password" placeholder="Password"/><br /><br />
              <button class="all_button" name="submit">Log In</button>
              <br />
            </form>       
    </div>                  
    
    
</div>
<h1>hello</h1>


<!-- <div class="for_image"> <img src="https://i.ytimg.com/vi/qyEzsAy4qeU/maxresdefault_live.jpg"> </div>
{{name}}
{{password}}
-->