*{
    background-color: #f7f3f3;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #4c4848;
}

.signup_form{
    width: 100%;
    height: 700px;
    background-color: #e8e2e2;
    position: relative;
    
    
    
}

.form{
    width:400px;
    height: auto;
    position: absolute;
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%,-50%);
    border: 2px solid #bbb9b9;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    
}

input[type=text],input[type=email],input[type=password]{
    width:  80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.all_button{
        width: 100px;
        height: 35px;
        background-color:#949498;
        color: white;
        border: 1px solid #777777;
        border-radius: 2px;
        margin-bottom: 20px;
    }
.all_button:hover{
        background-color:white;
        color: #777777;
    }