
<div class="main_container">


    <div class="form_container">
        <h3 class="for_h1">Register Here</h3>
            <form class="form1" action="" (ngSubmit)="submitSignUp()" #signUpForm="ngForm" method="get" name="SignUp">
                
                <input class="input_top_radius" [(ngModel)]="formData.fullName" pattern="[a-zA-Z][a-zA-Z ]+" #fullName="ngModel" type="text" name="fullName" placeholder="First Name" minlength="3" maxlength="25" [ngClass]="{'error':fullName.errors && fullName.touched}" required="" autofocus=""/>

                    <div *ngIf="fullName.errors && fullName.touched" class="red error"> 
            
                            <div *ngIf="fullName.errors.required" class="for_error">Full name required.</div> 
                            
                            <div *ngIf="fullName.errors.minlength" class="for_error">minimum 3 Cheracter required</div> 

                            <div *ngIf="fullName.errors.maxlength" class="for_error">Maximum 25 required</div> 

                            <div *ngIf="fullName.errors.pattern" class="for_error">Only Alphabet Allowed</div>
                    </div>
              

                
                <input [(ngModel)]="formData.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  type="email" name="email" placeholder="email@example.com" minlength="10" [ngClass]="{'error':email.errors && email.touched}" required="" autofocus=""> 
    
                    <div *ngIf="email.errors && email.touched" class="red error"> 
                
                        <div *ngIf="email.errors.required" class="for_error">Email Id required.</div> 
                
                        <div *ngIf="email.errors.minlength" class="for_error">Minimum 10 Cheracter required</div> 

                        <div *ngIf="email.errors.pattern" class="for_error">Enter Valid Email ID</div>
                
                    </div> 


     

            
            <input [(ngModel)]="formData.password" #pwd="ngModel" name="password" minlength="8" maxlength="32" [ngClass]="{'errors':pwd.errors && pwd.touched}"  type="password" placeholder="Password" required=""> 
                <div *ngIf="pwd.errors && pwd.touched" class="red error"> 
                  <div *ngIf="pwd.errors.required" class="for_error">Password required.</div> 
                  <div *ngIf="pwd.errors.minlength" class="for_error">Minimum 8 Cheracter required</div>
                  <div *ngIf="pwd.errors.maxlength" class="for_error">Maximum 32 Cheracter required</div> 
                </div>
            
            <!-- <input [(ngModel)]="formData.Copassword" validateEqual="pwd" #Copwd="ngModel" name="Copwd" minlength="8" maxlength="32" [ngClass]="{'errors':Copwd.errors && Copwd.touched}"  type="password" placeholder="Confirm Password" required=""> 
                <div *ngIf="Copwd.errors && Copwd.touched" class="red error"> 
                  <div *ngIf="Copwd.errors.required" class="for_error">Password required.</div> 
                  <div *ngIf="Copwd.errors.minlength" class="for_error">minimum 8 Cheracter required</div>
                  <div *ngIf="Copwd.errors.maxlength" class="for_error">Maximum 32 Cheracter required</div>  
                </div>
             -->
            <input [(ngModel)]="formData.mobileNumber" pattern="[0-9]*" #mobileNumber="ngModel" type="text" name="mobileNumber" placeholder="Mobile Number" minlength="10" maxlength="10" [ngClass]="{'error':mobileNumber.errors && mobileNumber.touched}" required="" autofocus=""> 
        
                <div *ngIf="mobileNumber.errors && mobileNumber.touched" class="red error"> 
            
                    <div *ngIf="mobileNumber.errors.required" class="for_error">Mobile number required.</div> 
            
                    <div *ngIf="mobileNumber.errors.minlength" class="for_error">minimum 10 required</div> 

                    <div *ngIf="mobileNumber.errors.maxlength" class="for_error">maximum 10 cheracter required</div>

                    <div *ngIf="mobileNumber.errors.pattern" class="for_error"> Mobile number not valid.</div>
                    
                </div>
                    
                
                <select [(ngModel)]="formData.country" #country="ngModel" placeholder="Select Country"  class="country" name="country">Country
                        <option value="India" selected="selected">India</option>
                        <option value="Shri Lanka">Shri Lanka</option>
                        <option value="America">America</option>
                        <option value="audi">Bangladesh</option>
                        <option value="audi">Nepal</option>
                </select>
                
        
                <div class="set_button">
                <button class="for_button"  type="submit" name="submit" 
                [disabled]="signUpForm.invalid" 
                 name="signUpForm" value="SignUp">Register</button>
                </div>

                <h3 id="for_link_page"> <a href="#">Log in</a> | <a href="#">Lost Your Password</a></h3>

            </form>
            
            
            
            
        
            
</div>

</div>
