<div class="signup_form">
    
      <br /><br />
      <div class="form">
          <form (ngSubmit)="submitLogin">
          <h1 style="font-size: 30px;">Sign Up</h1><br /><br />
                <p>Full Name</p>
                <input type="text" name="full_name" /><br /><br />
                <p>Email</p>
                <input type="email" name="email" /><br /><br />
                <p>Password</p>
                <input type="password" name="password" /><br /><br />
                <button class="all_button" name="submit">Sign Up</button>
                <br />
              </form>     
      </div>                  
</div>