.d1{
    height:600px;
    width:100%;
    background-color: "honeydew";
    position: relative;
    color: black;
    
    }
        
    .l1{
        text-align: center;
        color: teal;
        font-size: 50px;


    }
  .in{
    align-self: auto;;
 margin:5px;
 padding :2px;


  }
    .d2{
    
    
        height:400px;
        width:auto;
        background-color: silver;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate( -50%,-50%);
    
    
    }