
<div class="main_container">


        <div class="form_container">
            <h3 class="for_h1">Forget Your Password</h3>
                <form class="form1" action="" (ngSubmit)="submitSignUp()" #signUpForm="ngForm" method="post" name="SignUp">
                    
                                    
                    <input [(ngModel)]="formData.email" #email="ngModel" type="email" name="email" placeholder="email@example.com" minlength="10" [ngClass]="{'error':email.errors && email.touched}" required="" autofocus=""> 
        
                        <div *ngIf="email.errors && email.touched" class="red error"> 
                    
                            <div *ngIf="email.errors.required" class="for_error">This is required field.</div> 
                    
                            <div *ngIf="email.errors.minlength" class="for_error">Minimum 10 Cheracter required</div> 
                    
                        </div> 
    
                    
            
                    <div class="set_button">
                    <button class="for_button"  type="submit" name="submit" 
                    [disabled]="signUpForm.invalid" 
                     name="signUpForm" value="SignUp">Register</button>
                    </div>
    
                    <h3 id="for_link_page"><a href="#">Sign Up</a> | <a href="#">Log In</a></h3>
    
                </form>
                
                
                
                
            
                
    </div>
    
    </div>
    