.f1{
    height:300px;
    width:100%;
    background-color: "honeydew";
    position: relative;
    color: white;
    
    
    }
    
    .f2{
    
    
        height:200px;
        width:auto;
        background-color: rgb(142, 196, 240);
        position:absolute;
        top:50%;
        left:50%;
        transform:translate( -50%,-50%);
    
    
    }