.navbar-new {
    color: #eceeef !important;
    background-color: #fff !important;
    box-shadow: 10px 10px 5px #ddd !important;
    text-align: center;
    border: 0px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #969292 !important;
    background-color: transparent;
}
.logo-padding{
    padding: 6px 15px;
    }