.help-div
{
    padding: 10px;
    background-color: #9a90904a;
}
.font-style{
padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 800;
}
.padding-left{
    padding-left: 0px;
}
.main
{
    padding-top: 3%; 
    padding-bottom: 3%;
}
.main-div
{
    background-color: #eee;
    padding: 20px 30px 30px 30px;
}
.text-color{
color:#806f6f;
}