<div class="container main">
<div class="col-sm-3"></div>
  <div class="main-div col-sm-6">
    <h2 class="text-color">Forget Your Password?</h2> 
    <hr style="border: 1px solid #d2c527;margin-bottom:0px;">
    <div class="help-div">
Let us help you

    </div>
    <div class="font-style">
    If you do not have an account, 
    <a routerLink="/signup" style="color:blue">Click here</a>
    to set up an new account. Type your email id or phone
     number in the field below to receive your
    verification code by email or phone:
    </div>

   <div>
  <form action="#" class="col-sm-6 padding-left">
    <div class="form-group">
      <label for="email">Email / Phone Number</label>
      <input type="text" class="form-control placeholder-padding" id="ver" placeholder="Email/Phone Number"/>
    </div>
   
    <button type="submit" class="btn btn-warning" style="color:black;margin-top: 10px;">Send me my verification code</button>
  </form>
  
   </div>

  </div>


</div>