.navbar-new {
    color: #eceeef !important;
    background-color: #fff !important;
    box-shadow: 10px 10px 5px #ddd !important;
    text-align: center;
    border: 0px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #969292 !important;
    background-color: transparent;
}
.logo-padding{
    padding: 6px 15px;
    }
    



.help-div
{
    padding: 10px;
    background-color: #9a90904a;
}
.font-style{
padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 800;
}
.padding-left{
    padding-left: 0px;
}
.main
{
    padding-top: 3%; 
    padding-bottom: 3%;
}
.main-div
{
    background-color: #eee;
    padding: 20px 30px 30px 30px;
}
.text-color{
color:#806f6f;
}